<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <link rel="SHORTCUT ICON" href="http://pd.sim.edu.sg/sim/pro/data/data/simone.ico">
    <title>
        {% if is_login %}Login
        {% elif is_home %}{{ site.author }}
        {% elif is_tag %}{{ tag }}
        {% elif post.type == 'post' %}{{ post.title }}
        {% elif post.type == 'link' %}{{ link.title }}
        {% elif post.type == 'page' %}{{ page.title }}
        {% endif %} 
        | {{ site.name }}
    </title>

    {{ header_meta }}

    <link href="{{ static('themes/gridly/css/gridly.css') }}" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
		<!-- Begin MailChimp Signup Form -->
		<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
			<style type="text/css">
		#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
		We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
				<div id="mc_embed_signup">
					<form action="//postach.us8.list-manage.com/subscribe/post?u=8f57f508082f384933da29d05&amp;id=90738edac7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<h2>Subscribe to our mailing list</h2>
				<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
				<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
				</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
				</div>
				<div class="mc-field-group">
				<label for="mce-FNAME">First Name </label>
				<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
				</div>
				<div class="mc-field-group">
				<label for="mce-LNAME">Last Name </label>
				<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
				</div>
				<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				<div style="position: absolute; left: -5000px;"><input type="text" name="b_8f57f508082f384933da29d05_90738edac7" tabindex="-1" value=""></div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
				</div>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		<!--End mc_embed_signup-->
		
    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
  </head>
  <body>
  
  		<div class="nav-collapse collapse">
  <ul class="nav pull-right">
    <li><a href="/">Blog</a></li>
    
    <!-- Categories -->
    <li><a href="/tag/design" class="{{ set_active('/tag/design') }}">Design</a></li>
    <li><a href="/tag/web" class="{{ set_active('/tag/web') }}">Web</a></li>
    <li><a href="/tag/ios" class="{{ set_active('/tag/ios') }}">iOS</a></li>
    <li><a href="/tag/android" class="{{ set_active('/tag/android') }}">Android</a></li>
    <!-- END Categories -->
    
    {% if pages %}
      {% for page in pages %}
        <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
    
    {% if is_login %}
    
      {{ login_form }}
    
    {% else %}
    <div class="wrap">
      <header class="header">
        <div class="avatar">
          <a href="http://pd.sim.edu.sg"><img src="{{ site.avatar }}" class="img-circle" alt="{{ site.author }}" /></a>
        </div>
		<div class="nav-logo">
          <div class="logo">
            <h1>SIMPD PDPA</h1>
          </div>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
			  <li><a href="/9-obligations-of-pdpa">9 Obligations</a>
					<ul>
							<li><a href="/consent">Consent</a></li>
							<li><a href="/notification">Notification</a></li>
							<li><a href="/purpose-limitation">Purpose Limitation</a></li>			
							<li><a href="/access-correction">Access & Correction</a></li>		
							<li><a href="/accuracy">Accuracy</a></li>					  
							<li><a href="/protection">Protection</a></li>		
							<li><a href="/retention">Retention</a></li>		
							<li><a href="/transfer-limitation">Transfer Limitation</a></li>		
							<li><a href="/openness">Openness</a></li>
					</ul>
			  <li><a href="/questions">Questions from the team</a></li>	
			  </li>					
			</ul>
          </nav>
        </div>
        <div class="social-icons">
          <ul>
            {% if site.twitter %}
            <li>
              <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                <i class="icon-twitter"></i>
                <span class="hide-text">Twitter</span>
              </a>
            </li>
            {% endif %}
            {% if site.facebook %}
            <li>
              <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                <i class="icon-facebook"></i>
                <span class="hide-text">Facebook</span>
              </a>
            </li>
            {% endif %}
            {% if site.googleplus %}
            <li>
              <a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">
                <i class="icon-google-plus"></i>
                <span class="hide-text">Google Plus</span>
              </a>
            </li>
            {% endif %}
            {% if site.linkedin %}
            <li>
              <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                <i class="icon-linkedin"></i>
                <span class="hide-text">LinkedIn</span>
              </a>
            </li>
            {% endif %}
            <li>
			<!--
              <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                <i class="icon-rss"></i>
                <span class="hide-text">RSS</span>
              </a>
			-->
            </li>
          </ul>
        </div>
      </header>

      {% if is_home or is_tag %}
      <div class="post-area">

        {% if is_tag %}
        <h2 class="tag-head">Showing all posts tagged {{ tag }}:</h2>
        {% endif %}

        {% if posts %}
        <section itemscope itemtype="http://schema.org/Blog" class="posts">
        {% for post in posts %}
          <article itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">
            {% if post.photos %}
            {% for photo in post.photos %}
            {% if loop.index == 1 %}
            <div class="post-image">
              <a href="{{ post.permalink }}">
                {% if photo %}
                <img src="{{ photo.width_600 }}" alt="Picture {{ loop.index }}" />
                {% else %}
                <img src="http://placehold.it/400x300/0eafff/ffffff.png" alt="" />
                {% endif %}
              </a>
              {% if post.tags %}
              <div class="post-tags">
                <p>{{- post.tags|format_tags(humanize=True) -}}</p>
              </div>
              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="post-content">
              <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
              <p class="post-date"><time datetime="{{ post.created_at }}">{{ post.created_at|date_format }}</time></p>
              {% if post.tags and not post.photos %}
              <p class="post-tags">{{- post.tags|format_tags(humanize=True) -}}</p>
              {% endif %}
              {% if post.content|striptags|wordcount > 0 %}
              <p>{{ post.content|striptags|truncate(200) }}</p>
              <p class="post-link"><a href="{{ post.permalink }}">View more &rarr;</a></p>
              {% endif %}
            </div>
          </article>
        {% endfor %}
        </section>
        {% if not is_tag %}
        <div class="pagination">
          {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
          {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
        </div>
        {% endif %}
        {% else %}
        <h2 class="title"><em>No posts yet :(</em></h2>
        {% endif %}

      {% elif post.type == 'post' %}

      <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
        <section class="content">
          
          <div class="post-content" data-type-cleanup="true">
            <header>
              <h1>{{ post.title }}</h1>
            </header>
            <p class="post-date">Published by {{ site.author }}, <time datetime="{{ post.created_at }}">{{ post.created_at|date_format }}</time></p>
            {{ post.content}}
          </div>
          <div class="post-footer">
            {{ theme.social.bar }}
            {% if post.tags %}
              <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>
            {% endif %}
          </div>
        </section>
        {% if site.disqus %}
        <hr class="large" />
        <section class="comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus }}';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          </script>
          <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          </noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
        {% endif %}
      </article>
      <!--
      <div class="post-nav">
        <div class="post-prev"></div>
        <div class="post-next"></div>
      </div>
      -->

      {% elif post.type == 'link' %}

      <article itemscope itemtype="http://schema.org/BlogPosting" class="post">
        <section class="content">
          <div class="post-content" data-type-cleanup="true">
            <header>
              <h1>{{ link.title }}</h1>
            </header>
            <p class="post-date">Published by {{ site.author }}, <time datetime="{{ link.created_at }}">{{ link.created_at|date_format }}</time></p>
            {{ link.content }}
            <p class="link-url"><i class="icon-share"></i> <a href="{{ link.url }}">{{ link.url }}</a></p>
          </div>
          <div class="post-footer">
            {{ theme.social.bar }}
            {% if post.tags %}
              <p><strong>Tags:</strong> {{ post.tags|format_tags(humanize=True) }}</p>
            {% endif %}
          </div>
        </section>
        {% if site.disqus %}
        <hr class="large" />
        <section class="comments">
          <div id="disqus_thread"></div>
          <script type="text/javascript">
          var disqus_shortname = '{{ site.disqus }}';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
          </script>
          <noscript>
            Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
          </noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </section>
        {% endif %}
      </article>
      <!--
      <div class="post-nav">
        <div class="post-prev"></div>
        <div class="post-next"></div>
      </div>
      -->

      {% elif post.type == 'page' %}

      <div class="page">
        <div class="post-content" data-type-cleanup="true">
          <h1>{{ page.title }}</h1>
          {{ page.content }}
        </div>
      </div>

      {% endif %}

      <footer class="footer">
        <div class="copyright">
          <p class="pull-left">All rights Reserved &copy SIM Professional Development | <a href="mailto:es.pdpa@gmail.com?Subject=ES-PDPA%20-%20(Brief Description)" target="_blank">Questions? Contact Us</p>
          <p class="pull-right">Powered by <a href="http://postach.io" target="_blank">Postach.io</a> | Design based on <a href="http://www.eleventhemes.com/gridly-theme/">Gridly</a></p>
        </div>
      </footer>
    </div>
    {% endif %}

    {{ footer_meta }}
    <script src="{{ static('themes/gridly/js/main.min.js') }}"></script>

</body>
</html>
